<%
=begin%>
 <% if @product.taxons.present? %>
  <h3 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h3>
  <ul class="list-group" id="similar_items_by_taxon" data-hook>
    <% @product.taxons.each do |taxon| %>
      <li class="list-group-item"><%= link_to taxon.name, seo_url(taxon) %></li>
    <% end %>
  </ul>
<% end %>
<%
=end%>
<%= @product.name%>
<%= @page%>

<% if @product.page.present? %>
  <p>hi</p>
  <h3 class="product-section-title"><%= cms_fragment_render(:related_items_heading, @product.page) %></h3>
<% else %>
  <h3 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h3>
<% end %>
